<div class="panel panel-default">
  <div class="panel-heading">
    <h4><%= "Viewing: #{@drink.name}" %></h4>
  </div>
  <div class="panel-body">
  	<h4>Description</h4>
  	<p>
  	  <%= @drink.description%>
  	</p>
  	<p>
  	  <%= link_to 'Back', admin_drinks_path, class: "btn btn-default" %>
	  </p>
    <h4>Image</h4>
    <p>
      <%= image_tag @drink.file.url %>
    </p>
  </div>
</div> 