<div class = "search-box">
<%= form_for :search, url: search_drinks_path, method: :get do |f| %>
<%= f.text_field :name, placeholder: "Thirst" %>
<%= f.submit class: "btn btn-primary" %>
<% end %>
</div>

