<link href='https://fonts.googleapis.com/css?family=Muli:400italic|Orbitron' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Muli:400italic|Indie+Flower' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet">

<div class="hero">
	<div class="container">
		<h3>
		  SPIN. SIP. ENJOY.
      <br>
      <a href="http://drink-wheel.herokuapp.com/wheels" class="btn btn-danger btn-lg">PLAY</a>
	  </h3>
	</div>
</div>
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Discovering Drinks</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/sefDE0MEaTU" frameborder="0" allowfullscreen></iframe>
        <hr class="primary">
      </div>
    </div>
  </div>  
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-pie-chart text-primary sr-icons"></i>
          <h3>SPIN</h3>
          <p class="text-muted">Ready for a new favorite drink? Spin the wheel.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa fa-glass text-primary sr-icons"></i>
          <h3>SIP</h3>
          <p class="text-muted">Official cocktails listed in the International Bartender Association.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa fa-users text-primary sr-icons"></i>
          <h3>ENJOY</h3>
          <p class="text-muted">Share the fun with family and friends.</p>
        </div>
      </div>
    </div>
  </div>
</section>  
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <div class="contact-heading">Get In Touch!
        <hr class="primary">
        <p>Stay In The Loop! Sign Up Now! </p>
      </div>      
    </div>
  </div>
</section>