<link href='https://fonts.googleapis.com/css?family=Muli:400italic|Orbitron' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Muli:400italic|Indie+Flower' rel='stylesheet' type='text/css'>


<div class="hero">
	<div class="container">
		<h1>DRINK WHEEL</h1>
		<h3>
		  SPIN. SIP. ENJOY
	  </h3>
	</div>
</div>		
<div class="container marketing-tiles">
	<div class="row">
		<div class="col-sm-4">
		  <div class="panel panel-default">
		  	<div class="marketing-icon">
		  		<%= fa_icon 'spinner fa-spin' %>
		  	</div>
		  	<p>Indecisive? Spin the wheel! </p>
			</div>
		</div>
		<div class="col-sm-4">
		  <div class="panel panel-default">
		  	<div class="marketing-icon">
			  	<%= fa_icon 'glass' %>
		  	</div>
		  	<p>A variety of IBA official cocktails. </p>
			</div>
		</div>		
		<div class="col-sm-4">
		  <div class="panel panel-default">
		  	<div class="marketing-icon">
		  		<%= fa_icon 'group' %>
	  		</div>	
		  	<p>Enjoy with friends and family!</p>
			</div>
		</div>
	</div>
</div>	