<div class="hero">
	<div class="container">
		<h1>Welcome to Drink Wheel!</h1>
		<h3>
		  Don't know what to order?
		  <br/>
		  Here's your answer!
	  </h3>
	</div>
</div>		
<div class="container marketing-tiles">
	<div class="row">
		<div class="col-sm-4">
		  <div class="panel panel-default">
		  	<div class="marketing-icon">
			  	<%= fa_icon 'shopping-basket' %>
		  	</div>
		  	<p>Decide quickly while you're at the bar so you don't look like a loser!</p>
			</div>
		</div>
		<div class="col-sm-4">
		  <div class="panel panel-default">
		  	<div class="marketing-icon">
		  		<%= fa_icon 'automobile' %>
		  	</div>
		  	<p>Earn badges and compete with your friends!</p>
			</div>
		</div>
		<div class="col-sm-4">
		  <div class="panel panel-default">
		  	<div class="marketing-icon">
		  		<%= fa_icon 'battery-quarter' %>
	  		</div>	
		  	<p>Who doesn't like spinning a wheel?</p>
			</div>
		</div>
	</div>
</div>	