#contact {
	background: image-url('black_mamba.png') top left;
  background-size: cover;
	.container .row .contact-heading {
		font-family: 'Poiret One';
    font-size: 47px;
		margin-top: 20px;
		margin-bottomw: 20px;
	}
}