/*IBA OFFICIAL COCKTAILS*/
.drinks-index {
  img {
    width: 100% ;
  }
    margin-top: -20 px;
  }
  .thumbnail {
    background-color: #54a3ee;
	  border: 1px solid gray;
	img {
	  max-width: 100%;
	}
}
