#SignUp {
  display: none;
}

.modal-dialog {
    position: relative;
    display: table;
    margin: 10px 50px 10px 10px;
    width: 94%;
  }
  .modal-content {
    position: relative;
    display: table;
    width: 100%;
  }