#SignUp {
  display:none;
}

.modal-dialog {
	position: relative;
    display: table;   
    width: auto;
    min-width: 300px;   
}
.modal-content {
	position: relative;
    display: table; 
    width: auto;
    min-width: 300px;
}